.bg-gray {
    background-color: #e2e2e2;
}
.bg-lightgray {
    background-color: #f5f5f5;
}

.bg-blue, .bg-lightblue2  {
    background-color: #009fd9;
}

.bg-lightblue {
    background-color: #35bbeb;
}

.bg-darkblue {
    background-color: #0076be !important;
}

.bg-orange {
    background-color: #ee9b35;
}


.bg-yellow {
    background-color: #fcbf1b;
}

.bg-lightorange {
    background-color: #ffe9d1;
}

.bg-green {
    background-color: #4ebd14;
}

.bg-lightgreen {
    background-color: #d7f4c5;
}

.bg-lightyellow {
    background-color: #fff5a8;
}

.bg-yellow {
    background-color: #fbff00;
}

.bg-lightred {
    background-color: rgb(255, 207, 196);
}

.bg-red {
    background-color: #8c1a00;
}

/* button gradients */

.btn-yellow {
    border: 1px solid #fcbf1b;
    background-image: linear-gradient(#fbdd64, #fcbf1b);
}


.bg-brown {
   background-color: #8B4513
}

.bg-lightBrown {
    background-color: #F5DEB3
}


.bg-purple {
   background-color: #800080
}

.bg-lightPurple {
    background-color: #efe6ff
}

