.bg-gray {
    background-color: #e2e2e2;
}
.bg-lightgray {
    background-color: #f5f5f5;
}
.bg-lightblue {
    background-color: #35bbeb;
}
.bg-lightblue2 {
    background-color: #009fd9;
}
.bg-darkblue {
    background-color: #0076be;
}
