// Body
$body-bg: #f8fafc;
// Typography
//$font-family-sans-serif: 'Nunito',sans-serif;
$font-family-base: 'Arial';
$font-size-base: 0.875rem; //instead of 1rem

$font-size-base: 0.9rem;
$line-height-base: 1.6;
// Colors
$blue: #0074d9;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$transparent-gray: #000000bf;
//Modal
$modal-backdrop-bg: $transparent-gray;
//card
$card-spacer-y: .25rem !default;
$card-spacer-x: .5rem !default;