// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* sass imported (list only)
    "resources/sass/datatables/dataTables.bootstrap4.css",
    "resources/sass/datatables/buttons.bootstrap4.css",
    "resources/sass/datatables/fixedColumns.dataTables.css",
    "resources/sass/datatables/select.dataTables.css",
    "resources/sass/select2/select2.css"
*/


/* Datatables*/

@import 'datatables/dataTables.bootstrap4.css';
@import 'datatables/buttons.bootstrap4.css';
@import 'datatables/fixedColumns.dataTables.css';
@import 'datatables/select.dataTables.css';
@import 'select2/select2.css';

/* Custom CSS */

@import 'custom';

/* Remove outlines */

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

html,
body {
    height: 100%;
    max-height: 100%;
}

.navbar {
    z-index: 9999;
}

#sidebar {
    border-right: 1px solid #ccc;
    max-width: 280px;
    padding: 0px;
    //sidebar wrapper
    #sidebar-wrapper {
        height: calc(100vh - 55px);
        //max-height: 100%;
        border-right: 0px !important;
    }
}


/* Style to reverse the caret icon from pointing downwards to upwards */

.caret.caret-up {
    border-top-width: 0;
    border-bottom: 4px solid #fff;
}