canvas {
  width: 100%;
}

.canvas-windowed {
  width: 75% !important;
}

#editor_content {
  width: 90%;
  display: inline-block;
  vertical-align: top;
}

/*************************************************
            SIDEBAR COMPONENTS
*************************************************/
#right-video-sidebar,
#right-chat-sidebar {
  width: 225px;
  min-height: 200px;
  /* hidden */
  min-height: 0px;
  display: none;
}

.right-fixed {
  position: fixed;
  top: 85px;
  right: 0px;
  z-index: 1;
}

.right-fixed .button-overlap {
  float: left;
  position: absolute;
  left: -25px;
}

.middle-cabinet-holder {
  position: fixed;
  right: 0px;
  top: 310px;
  /*top: auto;*/
  z-index: 1;
}

/*************************************************
           MEDIA COMPONENTS
*************************************************/
.media {
  display: block;
  border: 8px solid #35bbeb;
  border-radius: 5px;
  background-color: #d7f3fa;
  margin-bottom: 5px;
}

/*
.media .tab-content>.active {
    display: flex;
}
*/
.media a.nav-link {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

#myMediaContainer {
  display: contents;
}

#myMediaContainer video {
  display: block;
}

.myButtonsContainer {
  background-color: #a9a8a7;
}

#myMediaContainer #myVideo {
  width: 100%;
}

#videoGrid {
  min-width: 100%;
  min-height: 125px;
  display: inline-block;
}

#lesson-slider-container {
  border: 2px solid #a9a8a7;
}

#lesson-slider-container #lessonSharedContainer #sharedVideo {
  width: 100%;
}

#videoGrid video,
#video {
  width: 100%;
  display: flex;
  margin: 0px;
  padding: 0px;
}

/*************************************************
            TOOLS
*************************************************/
#toolbox {
  background-color: #009fd9;
  position: fixed;
  z-index: 99;
  border-radius: 0px 15px 15px 0px;
  border: 5px solid #0074bc;
  margin-top: 40px;
}

.tool-container {
  width: 50px;
  display: inline-block;
  margin: 0px 0px 0px 0px;
  padding-top: 10px;
  border-radius: 0px 10px 10px 0px;
  background-color: transparent;
}

.tool-wrapper {
  display: flow-root;
  width: 100%;
}

.tools {
  display: flex;
  height: 200px;
  width: 50px;
}

.tool {
  width: 50px;
  height: 32px;
  text-align: center;
  line-height: 32px;
}

.tool.active {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEW9vb3///8EwsWUAAAADElEQVQI12NoYHAAAAHEAMFJRSpJAAAAAElFTkSuQmCC) repeat;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-top: 1px solid #7b7b7b;
  border-left: 1px solid #7b7b7b;
  border-right: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}

.colors-container {
  background-color: #c0c0c0;
  margin: 0px 5px 0px;
  width: 100%;
}

.colors-wrapper {
  display: inline-block;
}

.color-button {
  width: 100% !important;
  height: 100% !important;
  padding: 0px !important;
  margin: 0px;
  border: none;
  background-color: transparent;
  text-align: center;
  margin: auto;
}

.color-selected {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEW9vb3///8EwsWUAAAADElEQVQI12NoYHAAAAHEAMFJRSpJAAAAAElFTkSuQmCC) repeat;
  border: 1px solid #ccc;
  width: 45px;
  height: 45px;
  display: inline-block;
  vertical-align: text-bottom;
  margin: 0px 0px 0px 5px;
}

.color-shadow {
  border-top: 1px solid #7B7B7B;
  border-left: 1px solid #7B7B7B;
  border-right: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
  box-shadow: 1px 1px 0px black inset;
}

.colors {
  display: inline-block;
  text-align: center;
  width: 370px;
}

.color-preview {
  width: 15px;
  height: 15px;
  text-align: center;
  margin: 13px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #7B7B7B;
  border-bottom: 2px solid #7B7B7B;
}

.colors button {
  display: inline-block;
  border: 1px solid #00000026;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

.tool .collapsing {
  transition: none;
}

.brushes-container {
  background-color: #ececec;
  width: 235px;
  float: left;
  /* width: 47px; */
  height: 36px;
  /* top: 0px; */
  /* left: 0px; */
  /* right: 0px; */
  /* bottom: 0px; */
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid #7b7b7b;
  border-bottom: 1px solid #7b7b7b;
  position: relative;
  z-index: 99999;
}

.brushes {
  padding-top: 2px;
}

.brushes button {
  display: inline-block;
  width: 40px;
  border: 0;
  border-radius: 0;
  background-color: #ece8e8;
  margin-bottom: 5px;
  padding: 5px;
  height: 30px;
  outline: none;
  position: relative;
  cursor: pointer;
  vertical-align: top;
}

.brushes button:after {
  height: 1px;
  display: block;
  background: #808080;
  content: "";
}

.brushes button:nth-of-type(1):after {
  height: 3px;
}

.brushes button:nth-of-type(2):after {
  height: 5px;
}

.brushes button:nth-of-type(3):after {
  height: 10px;
}

.brushes button:nth-of-type(4):after {
  height: 15px;
}

.brushes button:nth-of-type(5):after {
  height: 20px;
}

.buttons {
  height: 80px;
  padding-top: 10px;
}

.buttons button {
  display: block;
  width: 100%;
  border: 0;
  border-radius: 0;
  background-color: #ece8e8;
  margin-bottom: 5px;
  padding: 5px;
  height: 30px;
  outline: none;
  position: relative;
  cursor: pointer;
  font-size: 16px;
}

button.brush.active {
  background-color: #04127b;
}

.right-block {
  width: 640px;
}

#paint-canvas {
  cursor: crosshair;
}

/*************************************************
            LESSON SLIDES 
*************************************************/
#lessonSlide {
  margin-left: 80px;
  margin-right: 80px;
}

/* AUDIO CONTROLES */
#audio-controls {
  width: 400px;
  border-radius: 8px;
}