.tool-container {
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
}

#editor_content {
  width: 90%;
  display: inline-block;
  vertical-align: top;
}

/*************************************************
            SIDEBAR COMPONENTS
*************************************************/
#right-video-sidebar,
#right-chat-sidebar {
  width: 250px;
  min-height: 200px;
}

.right-fixed {
  position: fixed;
  top: 75px;
  right: 0px;
  z-index: 1;
}

.right-fixed .button-overlap {
  float: left;
  position: absolute;
  left: -25px;
}

.middle-cabinet-holder {
  position: fixed;
  top: 350px;
  right: 0px;
  z-index: 1;
}

/*************************************************
           MEDIA COMPONENTS
*************************************************/
.media {
  display: block;
  border: 8px solid #009fd9;
  border-radius: 5px;
  background-color: #d7f3fa;
  margin-bottom: 5px;
}

.media .tab-content > .active {
  display: flex;
}

.media a.nav-link {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

#myMediaContainer {
  display: contents;
}

#myMediaContainer video {
  display: block;
}

.myButtonsContainer {
  background-color: #a9a8a7;
}

#myMediaContainer #myVideo {
  width: 100%;
}

#videoGrid {
  min-width: 100%;
  min-height: 125px;
  display: inline-block;
}

#lesson-slider-container {
  border: 2px solid #a9a8a7;
}

#lesson-slider-container #lessonSharedContainer #sharedVideo {
  width: 100%;
}

#videoGrid video,
#video {
  width: 100%;
  display: flex;
  margin: 0px;
  padding: 0px;
}