/****************** ADMIN PANEL ***************/
.esi-card {
    border: 2px solid #cbe5ee;
}

.esi-card-header {
    background-color: #fff;
    border-bottom: 1px solid #cbe5ee;
    font: bold 18px Arial;
    color: #0eadd9;
}

.esi-box {
    .esi-table {
        tr {
            th {
                background-color: #e6e6e6;
            }

            th, td {
                font-size: 11px;
                text-align: center;
            }
        }
    }
}


/*background*/
.bg-gray {
    background-color: #e2e2e2;
}

.grayBackgroundBox {
    background: url(../images/bgGray.gif);
    padding: 10px;
}

.grayBox {
    border: 2px solid #eeeeee;
    padding: 10px;
    margin: 20px 0 0 0;
}

.submenu.nav {
    text-decoration: none;
    font: bold 12px Arial;
    line-height: 6px;
    color: #1e1e1e;
    padding: 0 15px;
    background: #009fd9;
    /* height: 25px; */
    padding: 6px 0 0 4px;
    /* margin: -4px -20px 0 -20px; */
    list-style: none;
    border-bottom: 2px solid #eee57d;
    .active {
        background-color: #eee57d;
        color: #1e1e1e;
    }
}

/*scrollable table */
.scrollable-x {
    overflow-x: auto;
}

/* LESSSON MODULE */
/*class*/
.class-schedule {
    font-size: 12px;
    vertical-align: top;
}


/*checkbox*/
.checkbox-options {
    font-size: 12px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li {
        padding-top: 2px;
        ul {
            padding-left: 30px;
            padding-top: 4px;
        }
    }
}

/*flags*/
.flag-ph {
    background-image: url("/images/flag-ph.jpg");
    background-repeat: no-repeat;
    width: 16px;
    height: 12px;
    display: inline-block;
}

.flag-jp {
    background-image: url("/images/flag-jp.jpg");
    background-repeat: no-repeat;
    width: 16px;
    height: 12px;
    display: inline-block;
}

/*custom card */
.card label {
    font-size: 12px;
}

/*custom table */
.esi-table {
    border-collapse: separate;
    border-spacing: 2px;
    margin-bottom: 0px;
    white-space: nowrap;
    thead {
        tr {
            th {
                padding: 2px 5px 2px;
                min-width: 45px;
                min-height: 29px;
            }

            th::before, th::after {
                top:1px;
            }

            td {
                background-color: #d0e8f7;
                border-bottom: 3px solid #7dbae0;
                text-align: center;
                min-width: 45px;
                min-height: 29px;            
            }            
        }

    }
    tbody {
        td {
            font-size: 12px;
            text-align: center;            
            border: 0px;
            border-right: 1px solid #d0e8f7;
            vertical-align: top;
            padding: 5px 0px 5px;
            min-width: 45px;
            min-height: 29px;        
        }
    }

}

.table-schedules {
    td {
        min-width: 80px;
        min-height: 29px;   
    }
}

.legend {
    table {
        white-space: nowrap;
    }
    font-size: 12px;
    div {
        font-size: 12px;
    }
    td {
        font-size: 12px;
        width: 25px;
    }
}

.esi-card-header-title { 
    background: #0076be;
    font: bold 18px Arial;
    color: #ffffff;
    text-align: center;
}


/* user */
.blueBox {
    background: #d7f3fa;
    padding: 10px;    
}

.blueBrokenLineBox {
    border: 2px dashed #b8e9fa;
    padding: 10px;
    margin: 10px 0 0 0;
}

.reservationTable {
    border: 2px solid #d3eff1;
    border-radius: 5px 5px;
    padding: 5px;
    margin: 0 150px;
    width: 60%;
}

.reservationTable th {
    background-color: #caf3f5 ;
    padding: 7px 0;
    font-size: 12px;
    text-align: center;
}


.reservationTable th.heading  {
    background: #8bdade;
    font: bold 14px Arial;
}

.reservationTable td {
    background: #fff;
    font: bold 14px Arial;
    
}

a.blue {
    font: normal 12px Arial;
    color: #01abdd;
    text-decoration: none;
}

a.blue:hover {
    font: normal 12px Arial;
    color: #006684;
    text-decoration: none;    
}

a.red {
    font: normal 12px Arial;
    color: #e9333f;
    text-decoration: none;  
}

a.red:hover {   
    font: normal 12px Arial;
    color: #7b0009;
    text-decoration: none;      
}

